.center {
  text-align: center;
}

.intro {
  text-align: center;
  font-style: italic;
  color: blue;
}

img {
  float: left;
  border-radius: 15px;
  margin-left: 40px;
  border: 10px solid green;
}

body {
  background-color: skyblue;
}

.random {
  font-weight: bold;
  color: #871F78;
}

.content {
  margin-top: 300px;
}

.items {
  float: right;
  width: 40%;
  background-color: pink;
  border: 2px solid green;
  padding: 5px;
  margin: 40px;
  }

.column {
  width: 500px;
  float: left;
  margin: 20px;
  border: 2px dashed green;
  padding: 8px;
  background-color: pink;
}
